*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    margin: auto;
}
/* sales start */
.sales{
    padding: 30px;
}
.salesflex{
    display: block;
}
.salescontent{
    width: 100%;
}
.salesimage{
    width: 100%;
}
.salesimage img{
    width: 100%;
    height: 100%;
}
.salescontent h2{
    font-size: 36px;
    color: #000000;
    font-weight:800;
    padding-bottom: 30px;
}
.salescontent p {
font-size: 21px;
color: #000000;
font-weight: 200;
line-height: 27px;
padding-bottom: 30px;
}
.salescontent a{
    text-decoration: none;
    color: #FE7272;
}
.salescontent i{
    padding-left: 10px;
    font-size: 20px;
    line-height: 30px;
}
.salesinput{
    position: relative;
    padding-bottom: 10px;
}
.salesinput input{
    padding: 20px 150px 20px 7px;
    border: 2px solid #000000;
    border-radius: 8px;
}
.salesinput button{
    padding: 14px 18px;
    position: absolute;
    left: 63%;
    top: 10%;
    border-radius: 4px;
    background-color: #FE7272;
    border: none;
    color: #ffff;
}
.signin a{
    text-decoration: none;
    color: #0000ff;
    /* padding-bottom: 20px; */
}
.signin i{
    color: #FE7272;
}
.salesimage {
    position: relative;
}
.videoimg i{
    font-size: 40px;
    color: #FE7272;
}
.videoimg {
    position: absolute;
    top: 35%;
    left: 50%;
}
.salesimage button{
padding: 7px 20px;
background-color: #FE7272;
border: none;
color: #ffff;
border-radius:20px ;
position: absolute;
top: 78%;
left: 38%;
}
/* sales end */
/* client start */
.client{
    background-color: #f5f5f5;
    padding: 20px;
}
.clientimage{
    width: 100%;
}
.clientimage img{
width: 100%;
height: 100%;
}
.clientcontent h2{
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    color:#0e0928;
}
.clientcontent h2{
    text-align: center;
  }
/* client end */
/*deploy start */
.deploy{
    background-color: #5740EA;
    padding: 20px;
}
.deployflex{
    display: block;
}
.deployheading h2{
    color: #fff;
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
}
.hrline{
border-bottom: 1px solid #fff;
width: 100%;
text-align: center;
padding-bottom: 20px;
}
.deployimage img{
    width: 100%;
    height: 100%;
}
.deployimage{
    width: 100%;
}
.deploycontent h3{
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.deploycontent p{
    font-size: 16px;
    color: #fff;
    line-height: 28px;
}
.questions p a {
    text-decoration: none;
    color: #FE7272;
    font-size: 18px;
}
.questions p i{
    color: #FE7272;
    margin-left: 10px;
    font-size: 18px;
}
.deploycontent button{
    padding: 10px 20px ;
   background-color: #FE7272;
   color: #fff;
   border: none;
   border-radius: 8px;
   margin-top: 20px;
   margin-bottom: 20px;
}
/* deploy end */
/* demotable start */
.demotable{
    padding: 20px;
}
.demoheading{
    padding-top: 20px;
    text-align: center;
}
.demoheading h2{
    color: #000000;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}
.demoheading button{
    padding: 10px 20px;
    background-color:#FE7272;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}
table,th,td{
    border: solid 1px #000000;
    width: 100%;
    padding-left:20px;
}
.table1{
    /* padding-bottom: 30px; */
    box-shadow: 5px 10px;
}
.table2{
    box-shadow: 5px 10px;
    margin-top: 30px;
}
.table1 th{
    background-color:  #D4D4D8;
}
.table2 th{
    background-color:  #2DC8A4;
}
.demoicon{
    text-align: center;
    padding-top: 30px;
  
}
.demoicon i{
  background-color: #DADADA;
    border-radius: 50px;
    font-size: 40px;
    padding: 10px;
}
/* demotable end */
/* customer start */
.customer{
    padding: 20px;
    height: auto;
    text-align: center;
}
.customercontent h2{
font-size: 32px;
color: #000000;
font-weight: 600;
text-align: center;
padding-bottom: 20px;
}
.customercontent p{
    font-size: 18px;
    color: #000000;
    font-weight: 200;
    padding-bottom: 20px;
    line-height: 28px;
}
.customerdetail{
    background-color: #FE7272;
    border: 2px solid #000000;
    border-radius: 8px;
    height: auto;
    padding-bottom: 30px;
}
.customer1 img{
width: 100%;
height: auto;
padding: 20px;
}
.customer1 h3{
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
    flex-wrap: wrap;
}
.customer1 a{
    text-decoration: none;
    padding: 8px 20px;
    background-color:#140F2E;
    border-radius: 8px;
    color: #fff;
}
/* customer end */
/* video start */
.video{
    padding: 20px;
}
.videoflex{
    background-color: #FFF3DA;
    border-radius: 15px;
}
.videocontent{
    text-align: center;
}
.videocontent h2{
font-size: 32px;
color: #000000;
font-weight: 700;
text-align: center;
padding-top: 30px;
}
.videocontent h3{
font-size: 20px;
color: #000000;
font-weight: 400;
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
}
.videocontent p{
    font-size: 16px;
color: #000000;
font-weight: 200;
text-align: center;
}
.videocontent button{
    padding: 10px 20px;
    background-color: #FE7272;
    border: none;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}
.videoimage{
    width: 100%;
    margin-top:30px ;
}
.videoimage img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: #FE7272;
}
/* video end */
@media(min-width:768px){
.container{
    width: 90%;
    margin: auto;
}
/* sales start */
.salesinput button{
    left: 33%;
    top: 10%;
}
.videoimg {
    top: 35%;
    left: 50%;
}
.salesimage button{
top: 80%;
left: 48%;
}

/* sales end */
}
@media (min-width:1024px){
.container{
    width: 86%;
    margin: auto;
}

/* sales start */
.salesflex{
    display: flex;
}
.salescontent{
    width: 50%;
}
.salesimage{
    width: 50%;
}
.salesinput button{
    left: 49%;
    top: 10%;
}
.salesimage img{
    padding: 20px;
}
.videoimg {
    top: 35%;
    left: 50%;
}
.salesimage button{
top: 78%;
left: 42%;
}

/* sales end */
/* deploy start */
.deployflex{
    display: flex;
    padding-top: 40px;
}
.deploycontent{
    width: 50%;
}
.deployimage {
    width: 50%;
    padding: 20px;
}
/* deploy end */
/* demo table start */
.tablecontent{
    display: flex;
}
.table1{
    width: 50%;
}
.table2{
    width: 50%;
    margin-left: 30px;
    margin-top: 0px;
}
/* demo table end */
/* customer start */
.customercontent h2{
    text-align: start;
}
.customerflex{
    display: flex;
}
.customercontent{
    width: 40%;
    height: auto;
}
.customerdetail{
    width: 60%;
    height: auto;
}
.customerdetail{
    display: flex;
    padding-bottom: 14%;
}
.customer1{
    width: 33%;
}
.customer1 img{
    width: 100%;
    height: 100%;
}
.customercontent h2 {
font-size: 40px;
text-align: start;
}
.customercontent p{
    text-align: start;
}
.customercontent h3{
    text-align: center;
}
/* customer end */
/* video start */
.videoflex{
    background-color: #FFF3DA;
    border-radius: 15px;
}
/* video end */
}
@media (min-width:1100px){
    /* sales start */
    .salesinput button{
        left: 37%;
        top: 10%;
    } 
    .salesimage button{
        top: 78%;
        left: 47%;
        }
        /* sales end */
        .customerdetail{
            display: flex;
            padding-bottom: 11%;
        }
}